
div {
        min-height: 10vh;
        max-height: 75vh;
        width: 100vw;
}
h1, h2, p {
        padding: 20px;
}
h1 {
        font-size: 5em;
        color: black;
}
h2 {
        font-size: 2.5em;
}
img{
        display: flex;
        padding: 0px;
        margin: 0 auto;
        border-radius: 0px;
}
p {
        width: 40%;
        font-size: 2em;
}
a       {
        color: black;
}


footer {
        display: block;
        height: auto !important;
        height: 100%;
        margin: 0 auto -4em;
}

.navbar {
        max-height: 10vh;
        width: 100vw;
        background-color: black;
}

.carousel-inner img {
        width: 100%;
        height: 100%;
}
.carousel-item img {
        width: 100%;
        height: 100%;
}
.carousel-inner .carousel-item {
        transition: -webkit-transform 2s ease;
        transition: transform 2s ease;
        transition: transform 2s ease, -webkit-transform 2s ease;
}
#navbarSupportedContent {
        background-color: #ffffff;
}
